.box-component {
  display: flex;
  gap: 50px;
  width: 1500px;
  height: 200px;
  align-items: center;
  padding: 20px;
  background-color: rgb(236, 232, 232);
  border: 2px solid black;
}
.box-message {
  width: 200px;
  height: 150px;
  border: 2px solid rgb(11, 11, 11);
  background-color: aquamarine;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 2px;
}
.box-second,
.box-third,
.box-fourth {
  width: 200px;
  height: 150px;
  border: 2px solid rgb(76, 0, 255);
  background-color: beige;
  padding: 20px;
  display: flex;
  align-items: center;
  padding-left: 2px;
  justify-content: center;
}
